.card {
  box-shadow: 0px 0px 15px #0000002e;
  background-color: #f6f6f6;
  border: 0px;
}

div.terms {
  margin: auto;
  padding: 20px;
  background-color: white;
  width: 85%;
  height: 350px;
  overflow-y: scroll;
  /* border: 2px solid #d8d5d5; */
  border: 3px solid #7b89d669;
}

.center {
  text-align: center;
}

.btn-style {
  border-radius: 40px;
  width: 100px;
  background-image: linear-gradient(to right, #2a72df, #1e4d94);
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 15px #0000002e;
}
